<div id="main-wrapper" [ngClass]="
    {
        'defaultdark': color == 'defaultdark',
        'mini-sidebar': showMinisidebar
    }
">
  <header class="topbar">
    <nav class="d-flex top-navbar navbar-expand-md navbar-light">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html">
          <b>
            <img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo"/>

          </b>
          <span>
            <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo"/>
          </span>
        </a>
      </div>
      <div class="navbar-collapse">
        <app-navigation class="w-100" (toggleSidebar)="toggleSidebar()"></app-navigation>
      </div>
    </nav>
  </header>
  <aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar" [perfectScrollbar]="config">
      <app-sidebar (closeSM)="toggleSidebar()"></app-sidebar>
    </div>
  </aside>
  <div class="page-wrapper">
    <div class="container-fluid content " [class.open]="!showMinisidebar">
      <app-breadcrumb></app-breadcrumb>
      <router-outlet></router-outlet>

    </div>
  </div>


</div>
