.main-container {
  margin-top: 60px;
  margin-left: 235px;
  padding: 15px;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;


}

.content {
  margin-left: 0;
  transition: all .2s ease-in-out;
}


@media screen and (max-width: 992px) {
  .main-container {
    margin-left: 0px !important;
  }
  .content.open {
    margin-left: 250px;
  }
}

@media screen and (min-width: 993px) {

  .content {
    //background: red;
    margin-left: 70px;

  }
  .content.open {
    //background: blue;
    margin-left: 0px;
  }
}
