<div class="row">
  <div class="col-12 col-md-8">
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <div>
            <h3 class="card-title m-b-5"><span class="lstick"></span>Usuarios</h3>
          </div>
        </div>


      </div>
    </div>

  </div>
</div>
