<div class="sidenav ">
  <div class="login-main-text">
    <h2>Admin<br> Login Page</h2>
    <p>Ingrese para tener acceso al sistema.</p>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="login-form">

        <div class="form-group">
          <label>User Name</label>
          <input type="text" class="form-control" placeholder="User Name" [(ngModel)]="auth.email">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" placeholder="Password" [(ngModel)]="auth.password">
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-dark  btn-block" [disabled]="auth.email == '' || auth.password==''"
                  (click)="login()">Login
          </button>
        </div>

    </div>
  </div>
</div>
