<nav class="sidebar-nav">
  <ul id="sidebarnav">
    <li class="user-profile sidebar-item">
      <a class="has-arrow waves-effect waves-dark" aria-expanded="false">
        <img alt="user" src="assets/images/users/1.jpg"/>
        <span class="hide-menu">Usuario</span>
      </a>
      <ul aria-expanded="false" class="collapse"  routerLinkActive="in">
        <li><a routerLinkActive="active" (click)="closeSideMenu()" routerLink="/perfil">Perfil </a></li>
        <li><a class="pointer">Logout</a></li>
      </ul>
    </li>
    <li class="nav-devider"></li>
    <li class="nav-small-cap">PERSONAL</li>
    <li *ngFor="let menu of sidebarnavItems" class="sidebar-item" >
      <a class="has-arrow waves-effect waves-dark" aria-expanded="false" [class.active]="rla.isActive">
        <i [class]="menu.icono"></i>
        <span class="hide-menu"> {{ menu.titulo }}</span></a>
      <ul aria-expanded="false" class="collapse"  routerLinkActive="in"  #rla="routerLinkActive">
        <li *ngFor="let submenu of menu.submenu">
          <a routerLinkActive="active" (click)="closeSideMenu()"
             [routerLink]="[ submenu.url ]"> {{ submenu.titulo }} </a>
        </li>
      </ul>
    </li>


  </ul>
</nav>
