
.nested-menu {
  .list-group-item {
    cursor: pointer;
  }

  .nested {
    list-style-type: none;
  }

  ul.submenu {
    display: none;
    height: 0;
  }

  & .expand {
    ul.submenu {
      display: block;
      list-style-type: none;
      height: auto;

      li {
        a {

          padding: 10px;
          display: block;
        }
      }
    }
  }
}

