<ul class="navbar-nav mr-auto float-left">
  <li (click)="toggleSidebar.emit()" class="nav-item m-l-10 d-block"><a
    class="nav-link sidebartoggler text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a>
  </li>
</ul>
<ul class="navbar-nav my-lg-0 float-right">
  <li class="nav-item dropdown pointer">
    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="assets/images/users/1.jpg" alt="user"
                                                                              class="profile-pic"/></a>
    <div class="dropdown-menu">
      <ul class="dropdown-user">
        <li><a href="#"><i class="ti-user"></i> My Profile</a></li>
        <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
        <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
      </ul>
    </div>
  </li>
</ul>
