/* You can add global styles to this file, and also import other style files */
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

.ps .ps__scrollbar-y-rail {
  left: 3px;
  right: auto;
}

@import "assets/scss/style";

.left-sidebar {
  transition: all .2s ease-in-out;
  left: 0;
}

.sidebar-item {
  cursor: pointer;
}
.pointer{
  cursor: pointer;
}

.page-wrapper{
  max-width: 100%;
  display: flex;
}


.dropdown-menu.show {
  transform: translate3d(calc(-100% + 56px), 56px, 0px) !important;
}
